@charset "UTF-8";
html {
	 background-image: linear-gradient(to bottom right, #9E206C, #8137CB);
	 height: 100%;
 	 width: 100%;
	 background-repeat: no-repeat;
  	 background-attachment: fixed;
	 color: white;
	 font-family: 'PT Sans', sans-serif;
	}
h1 {
	font-family: 'Monofett', cursive;
	font-size: 5rem;
	margin-bottom: 2rem;
	text-shadow: #FC0 1px 0 10px;

}
h2 {
	font-family: 'Roboto Mono', monospace;
	text-shadow: #FC0 1px 0 10px;
}
.page {
	margin: auto;
	text-align: center;
}

.content-box {
	width: 20rem;
	margin:auto;
	text-align:left;
}

a {
	all:unset;
	text-decoration: none;
	cursor: pointer;
}

.button {
	all: unset;
	background: black;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding: 5px 20px;
	cursor:pointer;
}



.button:hover {
	color:yellow;;
	text-shadow: #FC0 1px 0 10px;
	box-shadow: #FC0 1px 0 10px;
}
a:hover {
	color: yellow;
	
}
td {
	padding: 5px  10px 5px 0;
}

.logout {
	background:transparent;
	font-size: 0.8rem;
	font-style:italic;
	text-shadow: #FC0 1px 0 10px;
	padding: 5px 10px;
}
